{% extends 'base.html.twig' %}


{% block content %}

<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted fw-light">Attesstations </span></h4>
        <!-- Form Recherche à candidate -->
         <form action="" id="recherche" class="mt-3">
          <a class="btn btn-success mb-3" href="{{ path('app_attestation_Reussite') }}"  >
		IMPRIMER ATTESTATION LES REUSSITE
	</a>
	<div class="row">
		<div class="col-md-12">
            <div  class="card mb-4">
				<h5 class="card-header">Recherche Details</h5>
				<!-- Account -->
                <div class="card-body">
					<div class="row">
                   
						<div class="mb-3 col-md-6">
							<label for="cin" class="form-label">CIN</label>
							<input class="form-control" type="text" id="cin" name="cin" />
						</div>
                    </div>

                    <div class="mt-2">
						<button type="submit"  class="btn btn-primary me-2" >Recherche</button>
					</div>
                   

                </div>
            </div>  
        </div>
    </div>
     </form>
 
<!-- Details de candidate -->
<div class="row" id="Details_candidate">
<table id="candidate_table">
<thead>
						<tr>
							<th style="width: 10rem;">CIN</th>

							<th style="width: 10rem;">Nom</th>

							<th style="width: 10rem;">Prenom</th>

							<th style="width: 10rem;">Nationalite</th>

							<th style="width: 10rem;">Fonctionnaire</th>

							<th style="width: 20rem;">Specialite</th>
                            <th style="width: 20rem;">Action</th>


						</tr>
					</thead>
					<tbody>

                </tbody> 
</table>
		
    </div>

	
{% block javascript %}

<script>

$(document).ready(function(){
  
    //Hide parti de Détails candidate
        $("#Details_candidate")[0].style.display = 'none';
        //méthode submit de bouton recherche
        $('#recherche').submit(function(event){
            event.preventDefault();

            let isValid = true;
            let fields = [
                $("#cin"),
                ];

            fields.forEach(field => {
                if (field.val() === "") {
                    field.addClass("error");
                    isValid = false;
                } else {
                     field.removeClass("error");
                }
            });

            if(isValid){
                let id = $("#cin").val();
                let url = "{{ path('rcandidat') }}";
                 $.ajax({
                    url: url,
                    method: 'post',
                    data: $(this).serialize()
                }).then((response) => {
                    $("#Details_candidate")[0].style.display = 'block'
                          console.log(response);
                    if(!$.isEmptyObject(response)){
                      console.log(response);
                        for(let i=0;i<response.length;i++){
                               let row = $('<tr>');
                               row.append('<td>'+ response[i].cin+'</td>');
                               row.append('<td>'+ response[i].nom+'</td>');
                               row.append('<td>'+ response[i].prenom+'</td>');
                               row.append('<td>'+ response[i].nationnalite+'</td>');
                               row.append('<td>'+ response[i].Fonctionnaire ? "oui":"Non" +'</td>');
                               row.append('<td>'+ response[i].specialite?.intitule??""+'</td>');
                               row.append('<td> <a  id="btn_impremer" href="attestation_impr/'+response[i].id+'"  class="btn btn-primary me-2 impremer" >Imprimer Attesstation</a> </td>')
                                $('#candidate_table').append(row);
                        }

                         
                       // $('#cin1').val(response.cin);
                       // $('#id').val(response.id);
                     //   $('#nom').val(response.nom);
                      //  $('#prenom').val(response.prenom);
                      //  $('#cne').val(response.cne);
                       // $('#specialite').val(response.specialite);
                        
                         //  $('#btn_impremer').attr("href","attestation_impr/"+response.id); 
                           // $('#btn_impremerR').attr("href","attestation_Reussite/"+response.id); 
                    }

                })
                        
            }

        })
})


</script>

 


{% endblock %}

 {% endblock %}
