{% extends 'base.html.twig' %}
{% block content %}
	<h4 class="fw-bold py-3 mb-4"></h4>
	<div class="d-grid gap-2 col-6 mx-auto">

		<h6 style=" text-align:center;">Télécharger Pv Vide</h6>
		<a href="{{path('candidate_PDf')}}" class="btn btn-success ">Telecharger PV Vide
		</a>
	</div>

	<div class="d-grid gap-2 col-6 mx-auto mt-4">


		<h6 style="text-align:center;">Télécharger Pv

		</h6>
		<a href="{{path('candidate_PDf')}}" class="btn btn-success">Telecharger PV


		</a>

	</div>
{% endblock %}
