{% extends 'base.html.twig' %}

{% block content %}
    {% set taskCounts = {} %}

	<table border="1" width="1000">
	<tr>
	<th>Type</th>
	{% for categorie in categories %}
	<th>{{ categorie.intitule }} </th>
	{% endfor %}
	</tr>
{% for type in types %}
	<tr>
	<td >--- {{ type.intitule }} ---</td>
	<td colspan="4" >--------------------------------------------------------------------------------------------</td>
	</tr>
	{% for specialite in type.specialites %}
	<tr>
	<td>{{ specialite.intitule }} </td>
	{% for categorie in categories %}
	<td >
	{% if posts[specialite.id][categorie.id] is defined %}
	{{ 	posts[specialite.id][categorie.id] }}
	{% else %}
	0
	{% endif %}
	</td>
	{% endfor %}
	</tr>

	{% endfor %}
	{% endfor %}
	</table>



  
{% endblock %}
