{% extends 'base.html.twig' %}

{% block content %}
    {% set taskCounts = {} %}
	<div id="data" class="d-none" data-task-counts="" ></div>
	<div class="row gy-4">
		<div class="col-lg-3 text-center  col-md-4 col-6 mini-card">
			<div class="card h-100">
				<div class="card-body">
					<i class="bx bx-comment-dots text-dark mb-1 fs-2"></i>
					<span class="fw-semibold d-block mb-1">Unread<br>
						Messages</span>
					<h3 class="card-title mb-2">Messages</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-3 text-center  col-md-4 col-6 mini-card">
			<div class="card h-100">
				<div class="card-body">
					<i class="bx bxs-user text-info mb-1 fs-2"></i>
					<span class="fw-semibold d-block mb-1">Registred
						<br/>
						Members</span>
					<h3 class="card-title text-info mb-2">Registred</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-3 text-center  col-md-4 col-6 mini-card">
			<div class="card h-100">
				<div class="card-body">
					<i class="bx bx-question-mark text-dark mb-1 fs-2"></i>
					<span class="fw-semibold d-block mb-1">Number of<br>
						Projects</span>
					<h3 class="card-title mb-2">Number of</h3>
				</div>
			</div>
		</div>
		<div class="col-lg-3 text-center col-md-4 col-6 mini-card">
			<div class="card h-100">
				<div class="card-body">
					<i class="bx bx-check-square text-success mb-1 fs-2"></i>
					<span class="fw-semibold d-block mb-1">Finished
						<br/>
						Projects</span>
					<h3 class="card-title text-success mb-2">Finished</h3>
				</div>
			</div>
		</div>
		<h2>Affectation Médicale</h2>
		<table id= "myTable" class="table">
			<thead>
			<tr>
				<th scope="col">Spécialité</th>
				<th scope="col">Contrat</th>
				<th scope="col">Benevole marocains</th>
				<th scope="col">Benevole étrangers</th>
				<th scope="col">CHU</th>
				<th scope="col">Total</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			<tr>
				<td>ANESTHESIE REANIMATION</td>
				<td>15</td>
				<td>8</td>
				<td>2</td>
				<td>0</td>
				<td>25</td>
			</tr>
			</tbody>
		</table>
		<nav aria-label="..." id="pagination">
			<ul class="pagination">
			</ul>
		</nav>
    <script src="{{ asset('assets/js/chart.js') }}"></script>
	<script src="{{ asset('assets/js/pagination.js') }}"></script>
{% endblock %}
